/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mb-2 {
  margin-bottom: 2rem;
}
.container {
  max-width: 1440px;
  width: 100%;
  // padding: 0 20px;
  margin: 0 auto;
}
.container-small {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .container,
  .container-small {
    max-width: 100%;
    padding-inline: 16px;
  }
}
.flex {
  display: flex;
}
.no-scroll {
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #d9d9d9;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  line-height: 0;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 32px 24px;
    .menu-mobile {
      display: none;
      .wrap-menu-mb {
        display: none;
      }
      .close-icon {
        display: none;
        /* Thêm các thuộc tính CSS cho icon close */
      }
    }
    h1 {
      a {
        display: inline-block;
        line-height: 0;
        width: 375px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.wrap-search {
  position: relative;
  &.mobile {
    display: none;
  }
  input {
    width: 257px;
    padding: 12px 16px 10px 40px;
    border-radius: 20px;
    background: #e8e8e8;
    border: none;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    &::placeholder {
      color: #8b8b8b;
    }
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
  }
}
.body-content {
  padding-top: 110px;
  padding-bottom: 70px;
  .breadcrumb {
    &-inner {
      color: #8b8b8b;
      font-size: 14px;
      line-height: normal;
      align-items: center;
      padding: 26px 80px 18px;
      gap: 5px;
    }
  }
  .categories {
    width: 280px;
    padding: 21px 0;
    .title {
      margin-left: 18px;
      color: #272727;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 11px;
    }
    ul {
      li {
        cursor: pointer;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 3px;
        transition: all 0.3s;
        &:hover {
          a {
            left: 10px;
          }
        }
        a {
          padding: 25px 23px 24px;
          gap: 24px;
          position: relative;
          align-items: center;
          color: #272727;
        }
        .open {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .wrap-product {
    .product {
      gap: 80px;
      justify-content: space-between;
    }
    .list-product {
      width: calc(100% - 280px - 80px);
      padding-top: 21px;
      .title-list {
        color: #272727;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 16px;
        position: relative;
        margin-bottom: 48px;
        &::after {
          content: "";
          display: block;
          width: 60px;
          height: 2px;
          background-color: #f50a00;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      ul {
        gap: 43px 24px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 64px;
        li {
          width: calc((100% - 24px * 2) / 3);
          transition: all 0.3s;
          &:hover {
            background: #eee;
            border-radius: 8px;
          }
          a {
            display: block;
          }
          img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 2px;
          }
          .date {
            color: #bbb;
            font-size: 11px;
            line-height: normal;
            margin-bottom: 2px;
          }
          .desc {
            color: #272727;
            font-size: 15px;
            line-height: 1.6;
          }
        }
      }
    }
    .see-more {
      cursor: pointer;
      width: 300px;
      display: block;
      padding-block: 16px;
      margin: 0 auto;
      border-radius: 40px;
      border: 1px solid #ff3939;
      background: #fff;
      color: #ff3939;
      text-align: center;
      font-size: 16px;
      line-height: normal;
      transition: all 0.3s;
      &:hover {
        background: #ff3939;
        color: #fff;
        border: 1px solid #ff3939;
      }
    }
  }
}
.footer {
  background: #e7e7e7;
  padding: 48px 0 59px;
  text-align: center;
  > p:first-child {
    color: #272727;
    font-size: 14px;
    line-height: normal;
  }
  .wrap-img {
    width: 375px;
    line-height: 0;
    margin: 0 auto;
    margin-bottom: 28px;
    img {
      width: 100%;
    }
  }
  ul {
    gap: 32px;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
    li {
      a {
        display: inline-block;
        color: #272727;
        font-size: 16px;
        line-height: normal;
      }
    }
  }
  > p:last-child {
    color: #272727;
    font-size: 12px;
    line-height: normal;
  }
}

@media screen and (max-width: 640px) {
  .wrap-search {
    &.mobile {
      display: block;
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
  .header {
    &-inner {
      padding: 12px 4px 12px 0;
      position: relative;
      h1 {
        a {
          width: 218px;
        }
      }
      .wrap-search {
        display: none;
      }
      .menu-mobile {
        display: block;
        button {
          border: none;
          background: transparent;
          line-height: 0;
        }
        .wrap-menu-mb {
          position: absolute;
          width: calc(100% + 16px * 2);
          top: 76px;
          left: 0;
          background-color: #fff;
          padding-top: 32px;
          margin: -16px;
          text-align: center;
          height: calc(100vh - 60px);
          overflow: scroll;
          .wrap-search {
            display: block;
            margin-bottom: 20px;
            padding-inline: 16px;
            img {
              left: 34px;
            }
            input {
              width: 100%;
            }
          }
          .categories {
            ul {
              margin-bottom: 48px;
              li {
                padding: 25px 23px;
                border-bottom: 1px solid #e7e7e7;
                a {
                  align-items: center;
                  position: relative;
                  gap: 25px;
                  color: #111;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: normal;
                  img:last-child {
                    position: absolute;
                    right: -5px;
                  }
                }
              }
            }
          }
          .close {
            cursor: pointer;
            width: 279px;
            display: block;
            padding-block: 16px;
            margin: 0 auto;
            border-radius: 40px;
            border: 1px solid #8b8b8b;
            background: #fff;
            color: #8b8b8b;
            text-align: center;
            font-size: 16px;
            line-height: normal;
            transition: all 0.3s;
            margin-bottom: 44px;
          }
        }
      }
    }
  }
  .body-content {
    padding-top: 60px;
    padding-bottom: 65px;
    .breadcrumb {
      &-inner {
        padding: 15px 0 !important;
        font-size: 12px;
        gap: 3.5px;
      }
    }
    .wrap-product {
      .product {
        flex-wrap: wrap;
        gap: 17px;
        .categories {
          width: 100%;
          padding-top: 50px;
          .title {
            margin: 0;
            text-align: center;
            margin-bottom: 26px;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 13px 16px;
            li {
              width: calc((100% - 16px * 2) / 3);
              border: 1px solid #d9d9d9;
              border-radius: 7px;
              overflow: hidden;
              a {
                flex-wrap: wrap;
                color: #000;
                text-align: center;
                font-size: 10px;
                font-weight: 600;
                line-height: normal;
                padding: 26px 5px 12px;
                justify-content: center;
                gap: 26px;
                flex-direction: column;
              }
              img {
                width: 40px;
                &:last-child {
                  display: none;
                }
              }
            }
          }
        }
        .list-product {
          width: 100%;
          .title-list {
            color: #111;
            font-size: 24px;
            margin-bottom: 34px;
          }
          ul {
            gap: 26px;
            margin-bottom: 62px;
            li {
              width: 100%;
              img {
                margin-bottom: 5px;
              }
              .date {
                margin-bottom: 13px;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 48px 0 33px;
    > p:first-child {
      font-size: 12px;
      margin-bottom: 3px;
    }
    .wrap-img {
      width: 292px;
      margin-bottom: 34px;
    }
    ul {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 37px;
      gap: 19px;
      li {
        width: 100%;
      }
    }
  }
}
