.detail-page {
  .breadcrumb {
    &-inner {
      padding: 23px 82px;
    }
  }
  .wrap-product {
    .categories {
      padding: 37px 3px;
      ul {
        li {
          .open {
            right: 10px;
          }
        }
      }
    }
    .list-product {
      .thumbnail {
        width: 100%;
        margin-bottom: 32px;
      }
      h1 {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.45;
        padding-bottom: 19px;
        border-bottom: 3px solid #f50a00;
        margin-bottom: 9px;
      }
      p.date {
        justify-content: end;
        color: #8b8b8b;
        font-size: 14px;
        line-height: normal;
        gap: 5px;
        margin-bottom: 30px;
      }
      p.brief {
        color: #000;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 32px;
      }
      .note {
        align-items: center;
        gap: 5px;
        color: #8b8b8b;
        font-size: 14px;
        line-height: 24px; /* 171.429% */
        margin-bottom: 32px;
        a {
          text-decoration: underline;
          color: #8b8b8b;
          display: inline-block;
        }
      }
      h2.sub-title {
        color: #000;
        font-size: 24px;
        font-weight: 600;
        line-height: 39px; /* 162.5% */
        padding-bottom: 16px;
        border-bottom: 1px solid #D9D9D9;
        text-align: left;
        &::after {
            display: none;
        }
      }
    }
  }
}
