.home-page {
  background: #fcfcfc;

  //   intro-slider
  .intro-slider {
    margin-bottom: 6px;
    &-inner {
      padding-top: 32px;
      .slick-dotted.slick-slider {
        margin-bottom: 0;
      }
      .wrap-slider {
        //   overflow: hidden;
        .wrap-img {
          padding: 0 15px;
          text-align: center;
          a {
            display: inline-block;
            box-shadow: 0px 10.89px 29.041px rgba(0, 0, 0, 0.12);
          }
        }
        .slick-list {
          padding-inline: 0 !important;
          padding-bottom: 90px !important;
        }
        .slick-slide img {
          margin: 0 auto;
        }
        .slick-dots {
          bottom: 16px;
          li {
            &.slick-active button:before {
              background: #272727;
            }
            button:before {
              content: "";
              border-radius: 50%;
              width: 10px;
              height: 10px;
              background-color: #d9d9d9;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .slick-next,
        .slick-prev {
          width: 60px;
          height: 60px;
          z-index: 2;
          background: #fef9f4;
          border-radius: 50%;
          left: 20.5%;
          top: 41.3%;
          transition: all 0.2s;
          overflow: hidden;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
          &::before {
            content: "";
            background: url(../img/icon/prev.svg) no-repeat center;
            background-size: contain;
            width: 60px;
            height: 60px;
            display: block;
          }
        }
        .slick-next {
          left: unset;
          right: 20.5%;
          &::before {
            content: "";
            background: url(../img/icon/next.svg) no-repeat center;
            background-size: contain;
            width: 60px;
            height: 60px;
            display: block;
          }
        }
      }
    }
  }

  //   wrap-product
  .wrap-product {
    padding-bottom: 70px;
    .list-product {
      .see-more {
        cursor: pointer;
        width: 300px;
        display: block;
        padding-block: 16px;
        margin: 0 auto;
        border-radius: 40px;
        border: 1px solid #ff3939;
        background: #fff;
        color: #ff3939;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        transition: all 0.3s;
        &:hover {
          background: #ff3939;
          color: #fff;
          border: 1px solid #ff3939;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .home-page {
    .intro-slider {
      margin-bottom: 24px;
      .container {
        padding: 0;
      }
      .intro-slider-inner {
        padding-top: 22px;
        .wrap-slider {
          .wrap-img {
            width: 375px;
            padding: 0 !important;
            a {
              box-shadow: none !important;
              img {
                width: 100%;
              }
            }
          }
          .slick-next,
          .slick-prev {
            width: 30px;
            height: 30px;
            top: 42.5%;
            left: 4.5%;
            &::before {
              width: 30px;
              height: 30px;
            }
          }
          .slick-next {
            left: unset;
            right: 4.5%;
          }
          .slick-list {
            padding-bottom: 20px !important;
          }
          .slick-dots {
            bottom: 0;
            li {
              margin: 0;
              padding: 5px;
              button {
                width: 5px;
                height: 5px;
              }
              button:before {
                width: 5px;
                height: 5px;
              }
            }
          }
        }
      }
    }
  }
}
